<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a
        class="nav-item nav-link"
        [routerLink]="['']"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="active text-primary"
        >Home</a
      >
      <a
        class="nav-item nav-link"
        [routerLink]="['cv']"
        routerLinkActive="active text-primary"
        >Cv</a
      >
      <a
        class="nav-item nav-link"
        [routerLink]="['todo']"
        routerLinkActive="active text-primary"
        >Todo</a
      >
      <a
        class="nav-item nav-link"
        [routerLink]="['admin/two']"
        routerLinkActive="active text-primary"
        >Two</a
      >
    </div>
  </div>
</nav>
